html,body,div,button{
    font-family: 微軟正黑體;
}
.btndiv{
    width: 100%;
    text-align: center;
    margin-top:100px;
}
.btnm{
    font-size:16pt;
    color: white;
    background-color: #3b5998;
    border-color:#3b5998;
    padding:0.5em;
    border-radius:6px;
}
.btnm:hover{
    background-color:#355088;
}
#post{
    height: 90%;
    width: 90%;
}